body {
	background: #000000;
}
.right {
	text-align: right;
	padding-left: 10px;
}

/*.background {
		height: 0;
    padding: 0;  remove any pre-existing padding, just in case
    padding-bottom: 62%; /* for a 4:3 aspect ratio
  	background-image: url(../images/blogs.jpg);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
		
}*/

h1 {
	color: #333333;
	font-family: "Tahoma", Times, serif;
	font-size: 14px;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

p {
	color: #FFFFFF;
	font-family: "Tahoma", Times, serif;
	font-size: 11px;
	line-height: 1.2rem;
}

a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
}
a:active {
	color: #FFFFFF;
}
